In [1]:
import pandas as pd

from pyodbc import connect

In [2]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [3]:
conn = connect(
    "DRIVER={SQL Server Native Client 11.0};"
    "SERVER=server;"
    "DATABASE=winloja;"
    "UID=fabio;"
    "PWD=fabio@2025"
)

In [4]:
query = "SELECT VWS.sellout_timestamp as 'date', VWSI.quantity, VWSI.unit_value as value, VWSI.description as product \
            FROM VW_Sellout as VWS, VW_SelloutItem as VWSI \
            WHERE VWS.id = VWSI.id \
                	AND VWSI.code = 40 \
                	AND VWS.sellout_timestamp > '2024-01-01T00:00:00' \
                	AND operation = 'S' \
            ORDER BY VWS.sellout_timestamp"

In [5]:
df = pd.read_sql(query, conn)
df.head()

                  date  quantity  value                            product
0  2024-01-02T07:48:00      30.0   34.5  CIMENTO VOTORAN TODAS OBRAS 50 KG
1  2024-01-02T07:52:00       4.0   40.6  CIMENTO VOTORAN TODAS OBRAS 50 KG
2  2024-01-02T09:09:00       2.0   34.9  CIMENTO VOTORAN TODAS OBRAS 50 KG
3  2024-01-02T09:22:00      10.0   34.9  CIMENTO VOTORAN TODAS OBRAS 50 KG
4  2024-01-02T09:50:00      15.0   34.5  CIMENTO VOTORAN TODAS OBRAS 50 KG

In [8]:
df.to_csv('../data/raw/ProductSold.csv', index = False)

In [10]:
query = "SELECT VWC.sellin_timestamp as 'date', VWCI.quantity, VWCI.unit_value as value, VWCI.description as product \
            FROM VW_Sellin as VWC, VW_SellinItem as VWCI \
            WHERE VWC.id = VWCI.id \
                	AND VWCI.code = 40 \
                	AND VWC.sellin_timestamp > '2024-01-01T00:00:00' \
            ORDER BY VWC.sellin_timestamp"

In [12]:
df = pd.read_sql(query, conn)
df.head()

                  date  quantity  value                            product
0  2024-01-02T08:03:00     280.0  28.97  CIMENTO VOTORAN TODAS OBRAS 50 KG
1  2024-01-04T08:05:00     240.0  28.43  CIMENTO VOTORAN TODAS OBRAS 50 KG
2  2024-01-05T07:37:00     240.0  28.43  CIMENTO VOTORAN TODAS OBRAS 50 KG
3  2024-01-09T16:03:00     240.0  28.43  CIMENTO VOTORAN TODAS OBRAS 50 KG
4  2024-01-11T16:47:00     240.0  28.43  CIMENTO VOTORAN TODAS OBRAS 50 KG

In [14]:
df.to_csv('../data/raw/ProductBought.csv', index = False)